.dinner__wprapper {
  position: relative;
  .dinner__title {
    margin-left: 10px;
    padding: 2px 5px;
  }

  .dinner__div {
    display: flex;
    justify-content: space-between;
  }
  .dinner__firstItem {
    margin: 5px 5px;
    padding: 5px 8px;
  }
  .dinner__secondItem {
    display: flex;
    flex-direction: column;

    .dinner__name {
      margin: -5px 20px;
      padding: 5px 11px;
    }
  }
  .dinner__productsMap {
    display: flex;
    position: relative;
    align-self: flex-end;
    .bproducts__button {
      display: flex;
      justify-content: flex-end;
      font-size: 1rem;
      color: red;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: -7px;
    }
  }
}

// .dinner__btn {
//   display: flex;
//   justify-content: flex-end;
//   font-size: 1rem;
//   color: red;
//   cursor: pointer;
//   position: absolute;
//   right: 20px;
//   top: 40px;
// }
