.savedList__container {
  width: 1352px;
  margin: 0 auto;
  .savedList__mainHeader {
    text-align: center;
  }
  .osavedList__items {
    display: flex;
    justify-content: space-between;
  }

  .savedList__item {
    display: flex;
    justify-content: space-around;
  }
}
